/vendor/[a-j]*
/vendor/[m-z]*
/vendor/league
/node_modules
/public/hot
/public/storage
/storage/*.key
.env.heroku
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/vendor/bin/carbon
/vendor/bin/sail
/vendor/bin/var-dump-server
